<HTML>
<HEAD>
<TITLE>PROLAB - Ingreso/modificación de CV</TITLE>
<link rel="stylesheet" href="estilos/estilo.css" type="text/css">
</HEAD>
<BODY>
{page1_javascript}

<FORM {page1_attributes}>
{page1_usuario_html}
<DIV class="titulo">{page1_header_titulo}</DIV>
<br />
<DIV class="header">{page1_header_subtitulo}</DIV>

<br />
<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_tipo_label}</td>
	<td class="element">{page1_tipo_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_empresa_label}</td>
	<td class="element">{page1_empresa_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_localidad_label}</td>
	<td class="element">{page1_localidad_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_area_label}</td>
	<td class="element">{page1_area_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_rubro_label}</td>
	<td class="element">{page1_rubro_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_puesto_label}</td>
	<td class="element">{page1_puesto_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_responsabilidades_label}</td>
	<td class="element">{page1_responsabilidades_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_inicio_label}</td>
	<td class="element">{page1_inicio_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_sigue_label}</td>
	<td class="element">{page1_sigue_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_fin_label_0}</td>
	<td class="element">{page1_fin_html}&nbsp;{page1_fin_label_1}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_motivo_label}</td>
	<td class="element">{page1_motivo_html}<BR></td>
	</tr>

	<tr>
	<td width='100' class="label" >{page1_persACargo_label}</td>
	<td class="element">{page1_persACargo_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_observaciones_label}</td>
	<td class="element">{page1_observaciones_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_remuneracion_label}</td>
	<td class="element">{page1_remuneracion_html}<BR></td>
	</tr>
</table>
<br />
<DIV>
	<DIV class="element">{page1_required_note}</DIV>
	<DIV class="comment">{page1_clientSide_html}{page1_clientSide_label}</DIV>
</DIV>
<DIV class="useraddmenu">
{page1__qf_page1_preview_html}{page1__qf_page1_submit_html}&nbsp;{page1__qf_page1_modificar_html}&nbsp;{page1_salir_html}
</DIV>

</FORM>
</BODY>
</HTML>
