<HTML>
<HEAD>
<TITLE>PROLAB - Ingreso/modificación de CV</TITLE>
<link rel="stylesheet" href="estilos/estilo.css" type="text/css">
</HEAD>
<BODY>
{page1_javascript}

<FORM {page1_attributes}>
{page1_idUsr_html}
<DIV class="titulo">{page1_header_titulo}</DIV>
<br />
<DIV class="header">{page1_header_subtitulo}</DIV>


<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_apellido_label}</td>
	<td class="element">{page1_apellido_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_nombre_label}</td>
	<td class="element">{page1_nombre_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_dni_label}</td>
	<td class="element">{page1_dni_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_sexo_label}</td>
	<td class="element">{page1_sexo_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_estadocivil_label}</td>
	<td class="element">{page1_estadocivil_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_canthijo_label}</td>
	<td class="element">{page1_canthijo_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_fechaNac_label}</td>
	<td class="element">{page1_fechaNac_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_lnacimiento_label}</td>
	<td class="element">{page1_lnacimiento_html}<BR></td>
	</tr>

	<tr>
	<td width='100' class="label" >{page1_condicion_label}</td>
	<td class="element">{page1_condicion_html}<BR></td>
	</tr>
	<td width='100' class="label" >{page1_discapacidad_label}</td>
	<td class="element">{page1_discapacidad_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_certificada_label}</td>
	<td class="element">{page1_certificada_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_tipo_label}</td>
	<td class="element">{page1_tipo_html}<BR></td>
	</tr>

	</table>

<DIV class="header">{page1_header_subtitulo1}</DIV>


<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_domicilio_label}</td>
	<td class="element">{page1_domicilio_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_localidad_label}</td>
	<td class="element">{page1_localidad_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_provincia_label}</td>
	<td class="element">{page1_provincia_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_cp_label}</td>
	<td class="element">{page1_cp_html}<BR></td>
	</tr>
	
</table>

<DIV class="header">{page1_header_subtitulo2}</DIV>

<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_telefono_label}</td>
	<td class="element">{page1_telefono_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_celular_label}</td>
	<td class="element">{page1_celular_html}<BR></td>
	</tr>	
	<tr>
	<td width='100' class="label" >{page1_email_label_0}</td>
	<td class="element">{page1_email_html}&nbsp;{page1_email_label_1}<BR></td>
	</tr>
	</table>




	<DIV class="header">{page1_header_subtitulo4}</DIV>
	<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_horario_label}</td>
	<td class="element">{page1_horario_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_viajar_label}</td>
	<td class="element">{page1_viajar_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_otraCiudad_label}</td>
	<td class="element">{page1_otraCiudad_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_otroPais_label}</td>
	<td class="element">{page1_otroPais_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_remuneracion_label}</td>
	<td class="element">{page1_remuneracion_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_comentarios_label}</td>
	<td class="element">{page1_comentarios_html}<BR></td>
	</tr>
	</table>

<DIV class="header">{page1_header_subtitulo5}</DIV>

<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="2" >
	<tr>
	<td width='100' class="label" >{page1_oPersonales_label}</td>
	<td class="element">{page1_oPersonales_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_oLaborales_label}</td>
	<td class="element">{page1_oLaborales_html}<BR></td>
	</tr>
	<tr>
	<td width='100' class="label" >{page1_oProfesionales_label}</td>
	<td class="element">{page1_oProfesionales_html}<BR></td>
	</tr>
	<tr>
	<td colspan="2" class="element"><span class="label">{page1_recibir_oferta_label}</span><span>{page1_recibir_oferta_html}</span><BR></td>
	</tr>
</table>


<br />
<DIV>
	<DIV class="element">{page1_required_note}</DIV>
	<DIV class="comment">{page1_clientSide_html}{page1_clientSide_label}</DIV>
</DIV>
<DIV class="useraddmenu">
{page1__qf_page1_preview_html}{page1__qf_page1_submit_html}&nbsp;{page1__qf_page1_modificar_html}&nbsp;{page1_salir_html}
</DIV>

</FORM>
</BODY>
</HTML>
