<!-- Pagina de carga de una persona afectada -->
<HTML>
<HEAD>
<link rel="stylesheet" href="../estilos/estilos.css" type="text/css">
</HEAD>
<BODY>
{page1_javascript}

<FORM {page1_attributes}>
{page1_idUsr_html}
<DIV class="titulo">{page1_header_titulo}</DIV>

<DIV class="ok">{page1_header_ok}</DIV>

<DIV class="header">{page1_header_subtitulo1}</DIV>
<DIV>
	<DIV class="label">{page1_apellido_label}</DIV>
	<DIV class="element">{page1_apellido_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_nombre_label}</DIV>
	<DIV class="element">{page1_nombre_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_sexo_label}</DIV>
	<DIV class="element">{page1_sexo_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_telefono_label}</DIV>
	<DIV class="element">{page1_telefono_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_email_label}</DIV>
	<DIV class="element">{page1_email_html}</DIV>
</DIV>
<BR>
<DIV class="header">{page1_header_subtitulo2}</DIV>
<DIV>
	<DIV class="label">{page1_nombrecomercial_label}</DIV>
	<DIV class="element">{page1_nombrecomercial_html}</DIV>
</DIV>

<DIV>
	<DIV class="label">{page1_razonsocial_label}</DIV>
	<DIV class="element">{page1_razonsocial_html}</DIV>
</DIV> 
<DIV>
	<DIV class="label">{page1_industria_label}</DIV>
	<DIV class="element">{page1_industria_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_cuit_label}</DIV>
	<DIV class="element">{page1_cuit_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_iva_label}</DIV>
	<DIV class="element">{page1_iva_html}</DIV>
</DIV>
<BR>
<DIV class="header">{page1_header_subtitulo3}</DIV>
<DIV>
	<DIV class="label">{page1_pais_label}</DIV>
	<DIV class="element">{page1_pais_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_provincia_label}</DIV>
	<DIV class="element">{page1_provincia_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_ciudad_label}</DIV>
	<DIV class="element">{page1_ciudad_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_calle_label}</DIV>
	<DIV class="element">{page1_calle_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_numero_label}</DIV>
	<DIV class="element">{page1_numero_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_piso_label}</DIV>
	<DIV class="element">{page1_piso_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_cp_label}</DIV>
	<DIV class="element">{page1_cp_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_emaile_label}</DIV>
	<DIV class="element">{page1_emaile_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_telefonoe_label}</DIV>
	<DIV class="element">{page1_telefonoe_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_faxe_label}</DIV>
	<DIV class="element">{page1_faxe_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_web_label}</DIV>
	<DIV class="element">{page1_web_html}</DIV>
</DIV><BR>
<DIV class="header">{page1_header_subtitulo4}</DIV>
<DIV>
	<DIV class="label">{page1_empleados_label}</DIV>
	<DIV class="element">{page1_empleados_html}</DIV>
</DIV>
<DIV>
	<DIV class="label">{page1_descripcion_label}</DIV>
	<DIV class="element">{page1_descripcion_html}</DIV>
</DIV>
<BR>

<DIV class="useraddmenu">
{page1__qf_page1_preview_html}{page1__qf_page1_submit_html}&nbsp;{page1_reset_html}{page1__qf_page1_modificar_html}&nbsp;{page1_salir_html}
</DIV>
</FORM>
</BODY>
</HTML>