<!-- Pagina de carga de una persona afectada -->
<HTML>
<HEAD>
<link rel="stylesheet" href="estilos/estilos.css" type="text/css">
</HEAD>
<BODY>
{page1_javascript}

<FORM {page1_attributes}>
{page1_idUsr_html}
<DIV class="titulo">{page1_header_titulo}</DIV>

<DIV class="ok">{page1_header_ok}</DIV>

<DIV class="header">{page1_header_subtitulo1}</DIV>

<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="0" >
<tr><td width='100' class="label" >{page1_empresa_label}</td><td class="element">{page1_empresa_html}</td></tr>
<tr><td width='100' class="label" >{page1_tipoOf_label}</td><td class="element">{page1_tipoOf_html}</td></tr>
</table>

<DIV class="header">{page1_header_subtitulo2}</DIV>

<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="0" >
<tr>
<td width='100' class="label" >{page1_solicitud_label}</td>
<td class="element">{page1_solicitud_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_conocimientos_label}</td>
<td class="element">{page1_conocimientos_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_actPer_label}</td>
<td class="element">{page1_actPer_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_edad_label}</td>
<td class="element">{page1_edad_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_sexo_label}</td>
<td class="element">{page1_sexo_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_cargoAOcupar_label}</td>
<td class="element">{page1_cargoAOcupar_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_categoria_label}</td>
<td class="element">{page1_categoria_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_area_label}</td>
<td class="element">{page1_area_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_sector_label}</td>
<td class="element">{page1_sector_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_reportaA_label}</td>
<td class="element">{page1_reportaA_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_persACargo_label}</td>
<td class="element">{page1_persACargo_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_tareasGen_label}</td>
<td class="element">{page1_tareasGen_html}</td>
</tr>

<tr>
<td width='100' class="label" >{page1_tareasEsp_label}</td>
<td class="element">{page1_tareasEsp_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_horario_label}</td>
<td class="element">{page1_horario_html}</td>
</tr>
</table>

<DIV class="header">{page1_header_subtitulo3}</DIV>


<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="0" >
<tr>
<td width='100' class="label" >{page1_remuneracion_label}</td>
<td class="element">{page1_remuneracion_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_planCarrera_label}</td>
<td class="element">{page1_planCarrera_html}</td>
</tr>
<tr>
<td width='100' class="label" >{page1_planCap_label}</td>
<td class="element">{page1_planCap_html}</td>
</tr>
</table>


<DIV class="header">{page1_header_subtitulo4}</DIV>


<table width="80%"  border="0" align="center" cellpadding="1" cellspacing="0" >
<tr>
<td width='100' class="label" >{page1_infoAdicional_label}</td>
<td class="element">{page1_infoAdicional_html}</td>
</tr>
</table>

<DIV class="useraddmenu" align="center" width="100%"><br><br>
{page1__qf_page1_preview_html}{page1__qf_page1_submit_html}&nbsp;{page1_reset_html}{page1__qf_page1_modificar_html}&nbsp;{page1_salir_html}
</DIV>
</FORM>
</BODY>
</HTML>