FONT	{ font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}

TD		{ font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}

BODY	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
}

P		{ font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}

DIV		{ font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px}



.bodyline {border:0px solid #345487}

body {
	
	background : white;
	/*scrollbar-face-color: #DCE7F1;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	*/
	scrollbar-face-color: #C9C9C9;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #FFFFF0;
	scrollbar-darkshadow-color: #FFFFF0;
	height : 580px;
	width: 460px;
}

.tblBorder	{ background-color: #EFF6FB; border: 1px #B6DFFB solid; }



.tblBorder2	{ background-color: #EFF6FB; border: 1px solid #B6DFFB; margin: 0%; }

a:link,a:active,a:visited {
	color : #006699;
}

a:hover		{ text-decoration: underline; color : #DD6900; }

/*.title 		 {BACKGROUND: none; COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}*/

.title 		 {BACKGROUND: none; COLOR: #B04C58; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

.content 	 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 13px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}

.block-title {BACKGROUND: none; COLOR: white; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif}

.storytitle  {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

.storycat	 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline}

.boxtitle 	 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

.boxcontent  {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;}

.option 	 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

/*.option2	 {BACKGROUND-color: Fuchsia; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}*/

.tiny		 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}

.small		 {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

/*contents*/

.tituloWord {font-size: 12pt; color: green;}

}

/**/



hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}

/*.select2{scrollbar-face-color:#D1D7DC ;

scrollbar-arrow-color:#D1D7DC;

scrollbar-highlight-color: #D1D7DC;

scrollbar-3dlight-color: #D1D7DC;

scrollbar-shadow-color: #D1D7DC;

scrollbar-darkshadow-color: #D1D7DC;

scrollbar-track-color: #D1D7DC;

	

}*/

/* Form elements */

input,textarea, select {

	color : #000000;

	font: normal 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;

	border: 1px solid #AEC7D8;

	

}

/* The text input fields background colour */

input.post, textarea.post, select {

	background-color : #FFFFFF;

}

input{text-indent:2px}



/* The buttons used for bbCode styling in message post */

input.button {

	background-color : #D2E8F7;

	color : #000000;

	font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

}



/* The main submit button option */

input.mainoption {

	background-color : #D2E8F7;

	font-weight : bold;

}



/* None-bold submit button */

input.liteoption {

	background-color : #D2E8F7;

	font-weight : normal;

}



/* Quote & Code blocks */

.code {

	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;

	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;

	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px

}



.quote {

	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;

	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;

	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px

}

.mainmenu		{ font-size : 11px; color : #000000 }

a.mainmenu		{ text-decoration: none; color : #006699;  }

a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }



#ari{

	background-color: #FFFFFF;

}

#footer{
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
	color: #DD3177;
	/*color: #B04C58;
	*/
	width : 800px;
}

#footer1{

	font-size: 13px;

	font-weight: bold;

	color: #1D3C81;

}

subtituloN{

	font-size:13px;

	font-weight: bold;

	}

/*table{ background: #66CC99; }*/



/* 

* estilos del modulo add_empresa que se llamaban estilo.css

*/



FORM {

	display : inline;

}

.menuH{

	font-family : "MS Sans Serif", Geneva, sans-serif;

	font-size : small;

	font-weight : bolder;

	background-image : url(fondo1.jpg);

	color : Navy;

	background-repeat : repeat-x;

	text-align : center;

	display : inline;

	width : 100%;

	margin : 0px 0px 0px 0px;

}

.titulo{

	font-family: sans-serif;

	background-color: #466A46;

	font-size: 16px;

	color: White;

	text-align: center;

	font-weight: bold;

}

.estudiante{

	font-family: sans-serif;

	background-color: #FFA500;

	font-size: 16px;

	color: Black;

	text-align: left;

	font-weight: bold;

}

.error{

	font-family: sans-serif;

	background-color: Red;

	font-size: smaller;

	color: #FFFFFF;

	text-align: center;

	font-weight: bold;

}

.ok{

	font-family: sans-serif;

	background-color: #32CD32;

	font-size: smaller;

	color: #FFFFFF;

	text-align: center;

	font-weight: bold;

}

.header {

	font-family: sans-serif;

	font-size: x-small;

	color: Black;

	background-color: #F5F5DC;

	margin-bottom: 4px;

	margin-top: 4px;

	font-weight: bold;

	padding: 0px 0px 0px 5px;

}

.boton{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: Black;

	background-color: #F0F8FF;

	border: 1px solid #666666;

	cursor: hand;

	width: 70px;

}

.botonG{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: Black;

	background-color: #F0F8FF;

	border: 1px solid #666666;

	cursor: hand;

	width: 100px;

}

.caja {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: Blue;

	background-color: #FFFFF0;

	border: 1px solid #666666;

}

.select {

	/*background : #F0FFF0;*/

	background: #EFF6FB;

	border : double Gray;

	color : Navy;

	font-family : Arial, Helvetica, sans-serif;

	font-size : 12px;

}

.useraddmenu{

	background-color: transparent;

	color: navy;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	padding: 1px,2px,1px,5px;

}

.label{

	width: 30%;

	text-align: right;

	padding: 2px 2px 0px 2px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: Black;

	margin-top: 5px;

	vertical-align: top;

	font-weight: bold;

	display: inline;

}

.element{

	width: 70%;

	text-align: left;

	padding: 2px 2px 0px 2px;

	color: Blue;

	font-family: Arial, Helvetica, sans-serif;

	margin-top: 5px;

	font-size: 12px;

	display: inline;

}

.comment {

	text-align : left;

	width : 100%;

	font-family : sans-serif;

	font-size : xx-small;

	font-weight : bolder;

	color : Black;

	display : inline;

	padding : 2px 2px 2px 2px;

}

.space{

	padding : 0px 0px 0px 0px;

	margin : 0px 0px 0px 0px;

	display : inline;

	width : 30%;

}

.area{

	font-family: "Times New Roman", Times, serif;

	font-size: 13px;

	color: #000000;

	background-color: Blue;

	border: thin solid Green;

	padding: 5px,5px,5px,5px;

}

.recuadro{
	background-color: #DE3073;
	font-size : 16px;
	text-decoration : none;
	font-family : Default;
	color : White;
	border-right : solid;
}

.principal {
	color : Navy;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	text-align : center;
}

.menu {
	color : Navy;
	font-family : "Lucida Sans Unicode";
	font-size : 16px;
	font-weight : bold;
	text-align : center;
}

.est1{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	CURSOR: default;
	COLOR: "#FFFFFF";
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
}
.est2{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	CURSOR: default;
	COLOR: "#333333";
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.est3{
	FONT-SIZE: 12px;
	CURSOR: default;
	COLOR: "#333333";
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
}

.articulo{
	font-size: 11pt;
	color : Navy;
	font-family : "Times New Roman";
}

.resumenTitulo{
	font-size: 14;
	color:white;
	background:#183C84;
	cursor: hand;
	font-weight : bold;
	text-decoration : none;
	font-family : Verdana;
}

.resumenContenido{
	color: Black;
	background-color: #FFFFFF;
	font-family: "Lucida Console";
	font-size: 14px;
}
/* fin estilos add_empresa */
.rosa{
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
	color: #DD3177;
}

.texto1a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #DD3177;
	text-decoration: none;
	text-align: justify;
	font-weight: bold;
	
}

.texto1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1D3C81;
	text-decoration: none;
	text-align: justify;
	
}
.subtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	color: #1D3C81;
	text-decoration: none;
	
}
